.time {
  flex: 1;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
}
.statusbar-time {
  width: 74px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.search-circle {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick);
  z-index: 2;
}
.search-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.search-placeholder {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.23px;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 1.7px;
  z-index: 3;
  margin-left: -9px;
}
.search-container1 {
  width: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.order-now {
  text-decoration: none;
  width: 90px;
  position: relative;
  letter-spacing: -0.23px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.navigation,
.order-button-container {
  display: flex;
  justify-content: flex-start;
}
.order-button-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  margin-top: -15px;
  text-align: center;
  font-size: var(--font-size-smi);
}
.navigation {
  width: 279px;
  flex-direction: column;
  align-items: flex-end;
}
.top-bar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs);
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.actions-divider {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-cadetblue-300);
  width: 100%;
  height: 100%;
}
.home-icon,
.search-icon1 {
  position: absolute;
  top: 74px;
  left: 333.6px;
  width: 30.6px;
  height: 30.6px;
  z-index: 1;
}
.home-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mingcutemenu-fill-icon {
  position: absolute;
  top: 6.8px;
  left: 6.8px;
  width: 17px;
  height: 17px;
  overflow: hidden;
  z-index: 2;
}
.actions-icons,
.vector-icon1 {
  position: absolute;
  top: 74px;
  left: 34px;
  width: 30.6px;
  height: 30.6px;
}
.vector-icon1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.icbaseline-search-icon {
  position: absolute;
  top: 5.1px;
  left: 5.1px;
  width: 20.4px;
  height: 20.4px;
  overflow: hidden;
  z-index: 2;
}
.actions-icons1,
.battery-icon {
  position: absolute;
  top: 74px;
  left: 274px;
  width: 30.6px;
  height: 30.6px;
}
.battery-icon {
  top: 10px;
  left: 342px;
  width: 27.4px;
  height: 13px;
  z-index: 1;
}
.icon-mobile-signal,
.wifi-icon {
  position: absolute;
  top: 11px;
  left: 318px;
  width: 17px;
  height: 12px;
  z-index: 1;
}
.icon-mobile-signal {
  left: 292px;
  width: 18px;
}
.actions-bar {
  width: 400px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -13px;
  bottom: 0;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-lg) var(--padding-16xl);
  position: relative;
  gap: var(--gap-19xl);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
