@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Purple+Purse:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-purple-purse: "Purple Purse";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-5xs: 8px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-mini: 15px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #4d4d4d;
  --color-cadetblue-100: #89b9ad;
  --color-cadetblue-200: #4f9d8a;
  --color-cadetblue-400: rgba(137, 185, 173, 0.7);
  --color-cadetblue-300: rgba(137, 185, 173, 0.5);
  --color-firebrick: #c73000;
  --color-gray-100: #222;
  --color-linen: #f7efe5;
  --color-teal: #368570;

  /* Gaps */
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-mid: 17px;
  --gap-lg: 18px;
  --gap-8xs: 5px;
  --gap-19xl: 38px;
  --gap-58xl: 77px;
  --gap-lgi: 19px;
  --gap-7xs: 6px;
  --gap-5xl: 24px;
  --gap-sm: 14px;
  --gap-2xs: 11px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-6xs: 7px;
  --gap-xs: 12px;
  --gap-9xl: 28px;
  --gap-2xl: 21px;
  --gap-9xs: 4px;
  --gap-74xl: 93px;
  --gap-mid-3: 17.3px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-21xl: 40px;
  --padding-12xs: 1px;
  --padding-35xl: 54px;
  --padding-36xl: 55px;
  --padding-8xs: 5px;
  --padding-22xl: 41px;
  --padding-97xl: 116px;
  --padding-19xl: 38px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-131xl: 150px;
  --padding-380xl: 399px;
  --padding-7xs: 6px;
  --padding-379xl: 398px;
  --padding-180xl: 199px;
  --padding-78xl: 97px;
  --padding-80xl: 99px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-3xl: 22px;
  --padding-10xs: 3px;
  --padding-lgi: 19px;
  --padding-34xl: 53px;
  --padding-12xl: 31px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-9xl: 28px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-2xs: 11px;
  --padding-185xl: 204px;
  --padding-33xl: 52px;
  --padding-44xl: 63px;
  --padding-45xl: 64px;
  --padding-smi-3: 12.3px;
  --padding-xs-1: 11.1px;
  --padding-6xs-1: 6.1px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-5xl: 24px;
  --br-3xs: 10px;
}
